InternetRelayChat/IRC-Client/bin/
InternetRelayChat/IRC-Common/bin/
InternetRelayChat/IRC-Server/bin/
InternetRelayChat/IRC-Client/obj/
InternetRelayChat/IRC-Common/obj/
InternetRelayChat/IRC-Server/obj/
InternetRelayChat/.vs/InternetRelayChat/v14/.suo
/InternetRelayChat/.vs/InternetRelayChat/v15/.suo
